nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #4056A1;
  box-shadow: none;
  height : 120px;
  color: #ffff;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.5em;
}
span {
  font-family: Bungee ,sans-serif; 
  font-size: 180%;
}
.create-text {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.create-text p {
  margin : 0;
}
#click-me {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  outline: none;
}

#click-me i {
  color:red;
  font-size: xx-large;
}
